*{
	font-family: arial;/*todos os elementos em arial*/
	color:#FFFFFF;
	margin: 0;
	padding: 0;
}

body{
	background-color: #F26F1F	
}

.topo{
	height: 50px;/*largura do retangulo*/
	background-color: #F8BD95;

}

.topointerior{
	width: 80%;
	margin: auto;
}

.logomarca{
	float: left;
	font-size: 24px;
	line-height: 50px;
}

.menu{
	float: right;/*gruda na direita*/

}

.menu ul,
	menu li{
	list-style: none;
}

.menu li{
	float:right;/* gruda na direita*/
	padding-left: 10px;/*espaco a esquerda*/
	padding-right: 10px;/*espaco a direita*/
	line-height: 50px;/*centraliza horizontalmente*/
	font-size: 14px;
	text-shadow: 1px 1px 2px black;
	/*	cursor:pointer; coloca a maozinha mesmo sem link*/
}

.menu li:hover {
	background-color: #FF4500;
}

.menu a {
  text-decoration: none;/*tiro o tracejado do link*/
}

.banner{
	height: 300px;
	background-color: #347aba;
}

.verde{
	background-color: #00ff7f
}

.bannerinterior{
	width: 1000px;
	margin: auto;
}

.banneresquerda{
	float: left;
}

.bannerdireita{
	float: right;
}

.bannerdireita img{
	margin-right: 55px
}

.frase1{
	font-size: 48px;
	color:#ffffff;
	margin-top:60px;
	margin-left: 40px; 
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.frase2{
	font-size: 20PX;
	color:#ffffff;
	margin-left: 40px; 
}

.botao{
	background-color: #D0F0EB;
	width:282px;
	height:56px;
	font-size: 20px;
	text-align: center;
	line-height:56px;
	margin-top:20px;
	cursor:pointer;
	border-radius:5px;
	margin-left: 40px; 
	box-shadow: 2px 2px 2px rgba(100,100,100, 0.8)
	/*sombra e o rgba: os tres primeiros numeros vao de 0 a 255 e sao o RGB 
	o ultimo é o Alpha que controla a transparencia*/
}

.botao a{
	text-decoration: none;
	color: #000
}

.acerto{
	clear: both;
}

.outrosprodutos{
	height: 50px;
	color: #000;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	font-weight: 800;
}

.fotos img{
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(100,100,100,0.8);
}

.fotosinterior{
	width: 80%;
	margin: auto;
}

.rodape{
	height: 50px;
	line-height: 50px;
	text-shadow: 2px 1px 2px #000;
	background-color: #347aba;
	text-align: center;
}
